---
import { ArticleQueries } from '@domain'
import Card from '@components/Card.astro'
import Container from '@components/Container.astro'
import Segment from '@components/Segment.astro'
import Layout from '@layouts/Layout.astro'
import { match } from 'shulk'
import Button from '@components/Button.astro'

const { db } = Astro.locals

const { slug } = Astro.params

const fetchArticleResult = await ArticleQueries(db).fromSlug(slug as string)

const title = fetchArticleResult
	.map((article) => article.title)
	.mapErr(() => 'Error').val

fetchArticleResult.map((article) => console.log(article))

fetchArticleResult.mapErr((err) => console.error(err))
---

<Layout title={title}>
	{
		match(fetchArticleResult).case({
			Err: ({ val: err }) => (
				<Card error>
					{match(err.constructor.name).case({
						NotFound: () => 'Article not found.',
						_otherwise: () => 'An unexpected error has occured.',
					})}
				</Card>
			),
			Ok: ({ val: article }) => (
				<Container>
					<h1>{article.title}</h1>

					<Segment>
						<Button primary icon={'text_select_move_forward_character'}>
							Generate
						</Button>
					</Segment>
				</Container>
			),
		})
	}
</Layout>
