---
import Segment from '@components/Segment.astro'
import Layout from '@layouts/Layout.astro'
import Form from '@components/Form.astro'
import type { ArticleCreationForm } from '@domain/articles/commands'
import { FieldConfig, onSubmit, type FormDefinition } from '@components/Form'
import { ArticleCommands } from '@domain'
import Button from '@components/Button.astro'

const { db } = Astro.locals.dependencies

const articleCreationForm: FormDefinition<ArticleCreationForm> = {
	title: {
		label: 'Title',
		mandatory: true,
		config: FieldConfig.Text({}),
	},
}

const error = await onSubmit(Astro, articleCreationForm, async (input) => {
	const commandResult = await ArticleCommands.create(input, db)

	return commandResult.mapErr((err) => err.message)
})

if (Astro.request.method === 'POST' && !error) {
	return Astro.redirect('/articles/')
}
---

<Layout title="New article">
	<Button icon="arrow_left" href="/articles/">Back</Button>
	<h1>New article</h1>

	<Segment>
		<Form definition={articleCreationForm} cols={1} {error} />
	</Segment>
</Layout>
