---
import Button from '@components/Button.astro'
import Card from '@components/Card.astro'
import Segment from '@components/Segment.astro'
import { ArticleQueries } from '@domain'
import Layout from '@layouts/Layout.astro'
import { match } from 'shulk'

const { db } = Astro.locals.dependencies

const listArticlesResult = await ArticleQueries(db).listAll()

// listArticlesResult.map((i) => console.log(i))
---

<Layout title="Articles">
	<Segment>
		<a href="/articles/create"
			><Button primary icon="add">New article</Button>
		</a>
		{
			match(listArticlesResult).case({
				Err: ({ val: err }) => <Card error>{err.message}</Card>,
				Ok: ({ val: articles }) => (
					<ul>
						{articles.map((article) => (
							<li>
								<a href={'/articles/' + article.slug}>
									<h2>{article.title}</h2>
								</a>

								<p>
									{'description' in article
										? article.description.content
										: 'No description yet'}
								</p>
							</li>
						))}
					</ul>
				),
			})
		}
	</Segment>
</Layout>
