---
import Layout from '@layouts/Layout.astro';
import Button from '@components/Button.astro'
---

<Layout title="Home - Autodoc">
	<main>
		<h1>Autodoc.</h1>

		<Button>Get started</Button>
	</main>
</Layout>

<style>
	main {
		text-align: center;
		width: 100%;
	}
</style>